.headerContainer {
    height: 50px;
    width: 100%;
    margin: 0;
    background: blue;
}

.levelContainer,
.scoreContainer {
    width: 40%;
    float: left;
    height: 100%;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
    text-indent: 20px;
}

.scoreContainer {
    width: 45%;
}

.life {
    width: 25%;
    height: 50%;
    background-color: white;
    display: inline-block;
    margin-top: 10px;
}

.level,
.scoreCard {
    margin: 0;
}

body {
    margin: 0px;
}

.container-fluid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bodyContainer {
    height: calc(100% - 65px);
    margin: 0;
    width: 100%;
}

.directionLblCont {
    height: 80px;
    width: 80px;
    background-color: blue;
    position: absolute;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    border-radius: 50%;
}

.directionButtonCont {
    width: 100%;
    height: 100%;
    margin: 0;
}

.directionButtonCont table {
    width: 100%;
    height: 100%;
}

.pointer {
    border-bottom: 20px solid red;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    left: 0;
    width: 0;
}

.base {
    background: red;
    display: inline-block;
    height: 20px;
    float: left;
    position: relative;
    width: 20px;
    top: 20px;
    left: -10px;
}

.footerContainer.row {
    height: 200px;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0px;
}

.arrow.up.directionBtn {
    width: 100%;
    height: 100%;
    background: url("./../icons/up.png") no-repeat;
    background-color: blue;
    background-position: center;
}

.arrow.right.directionBtn {
    width: 100%;
    height: 100%;
    background: url("./../icons/right.png") no-repeat;
    background-color: blue;
    background-position: center;
}

.arrow.down.directionBtn {
    width: 100%;
    height: 100%;
    background: url("./../icons/down.png") no-repeat;
    background-color: blue;
    background-position: center;
}

.arrow.left.directionBtn {
    width: 100%;
    height: 100%;
    background: url("./../icons/left.png") no-repeat;
    background-color: blue;
    background-position: center;
}

.directionLblCont .arrow.directionBtn {
    background-color: transparent;
    background-size: 80%;
}

.directionLblCont .pointer {
    background: transparent;
    border-bottom-color: #fff;
}

.directionLblCont .base {
    background: #fff;
    border-color: #fff;
}

.column-3 {
    width: 100%;
    height: 100%;
}

#game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 1000;
    display: none;
}

.introContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: blue;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: yellow;
}

.appBanner {
    height: 100px;
    font-size: 35px;
    color: blue;
    width: 100%;
    line-height: 100px;
    text-align: center;
    top: 200px;
    position: absolute;
}

.play {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url("./../icons/play.png") no-repeat;
    background-size: contain;
    background-color: blue;
    margin: 0 auto;
}

.settings {
    font-size: 25px;
    color: blue;
}

.cogContainer {
    float: right;
}

.highScoreCont {
    height: 100%;
    font-size: 30px;
    width: 50%;
    display: inline-block;
}

span.highScore {
    vertical-align: middle;
}

.settingsIconContainer {
    float: right;
    font-size: 40px;
    color: white;
    width: 250px;
    height: 80px;
    bottom: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#myModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    z-index: 1001;
    font-size: 100px;
    font-weight: bold;
    border-radius: 50%;
    display: none;
}

#continueBtn {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
    text-align: center;
    font-size: 70px;
    color: white;
}

.introHeader {
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: right;
}

.highScoreLbl,
.highscoreIcon {
    margin-right: 10px;
    display: inline-block;
    float: right;
    line-height: 40px;
    height: 100%;
}

span#setMusic,
span#setVibration {
    height: 65px;
    width: 65px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin: 7px 27px;
}

#setMusic.volume-on.music,
#setMusic.volume-off.music,
#setVibration.vibration-on.vibration,
#setVibration.vibration-off.vibration {
    background-size: 60%;
    background-color: blue;
    background-position: center;
}

#setMusic.volume-off {
    background: url("./../icons/volume_off.png") no-repeat;
}

#setMusic.volume-on {
    background: url("./../icons/volume_on.png") no-repeat;
}

#setVibration.vibration-off {
    background: url("./../icons/vibration_off.png") no-repeat;
}

#setVibration.vibration-on {
    background: url("./../icons/vibration_on.png") no-repeat;
}

.scoreLable,
.levelLable {
    height: 45px;
    width: 50%;
    margin: 0;
    line-height: 45px;
}

#playWrapper {
    width: 200px;
    height: 100px;
    margin: 10px 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

#playWrapper.pause {
    top: 30%;
}

div#homebtn {
    width: 75px;
    height: 75px;
    position: absolute;
    background: url("./../icons/home.png") no-repeat;
    background-color: blue;
    background-size: 80%;
    top: 50%;
    left: 50%;
    background-position: center;
    border-radius: 50%;
    z-index: 10001;
    transform: translate(-50%, -50%);
}

div#levelWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 100px;
    z-index: 10001;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#gameOverWrapper {
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 100005;
    background: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

div#HighScoreWrapper,
div#ScoreWrapper {
    height: 45px;
    line-height: 45px;
    width: 100%;
}

div#btnContainer {
    width: 100%;
    height: 110px;
}

div#btnContainer {
    width: 100%;
    height: 110px;
}

div#replay,
div#exit,
div#home {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    top: 20%;
    position: relative;
    left: 0%;
    float: left;
    margin: 0 17px;
    cursor: pointer;
}

div#replay {
    background: url("./../icons/replay.png") no-repeat;
    background-position: center;
    background-size: 90%;
}

div#home {
    background: url("./../icons/home.png") no-repeat;
    background-position: center;
    background-size: 90%;
}

.pauseIcon {
    width: 15%;
    height: 50px;
    background: url(./../icons/pause.png) no-repeat;
    background-position: center;
    background-size: 65%;
    display: inline-block;
    float: left;
}

div#exit {
    background: url("./../icons/close.png") no-repeat;
    background-position: center;
    background-size: 90%;
}
/* .powerBtn {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
}

.powerBtn.powerBtnTop {
    margin-left: 75px;
} */
.ceyoneLogoContainer {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: 10001;
    /* text-align: center; */
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 65px;
    color: white;
}
